.ProfileButton-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 44px;
    min-width: 100px;
    padding: 0px 20px;

    font-size: 14px;
    border: 0px;
    background-color: white;
    cursor: pointer;
    color: #333;
}
.ProfileButton-container:hover {
    border-radius: 10px;
    background-color: #f7f7f7;
}

.ProfileButton-container > i:first-child {
    font-size: 24px;
    padding-right: 16px;
}

.ProfileButton-container > i:last-child {
    font-size: 10px;
    font-weight: 600;
}
/* #visible-on-hover {
    visibility: hidden;
}
#visible-on-hover:hover {
    visibility: visible;
} */


/* MODAL */
.account-menu-side-panel-container {
    position: fixed;
    height: 100vh;
    top:0;
    width: 375px;

    z-index: 1;
    right: 0;
    background-color: #fff;
}
