#ProductPage-component{
    width: 100%;
    max-width: 1400px;

    margin: 0px;
    padding: 0px 20px;

    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}


#ProductPage-thumbnail {
    width: 140px;
}

.ProductPage-main-image-container {
    width: 740px;
}


.ProductPage-body-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* background-color: red; */
}
